body {
	background-color: #000000;
}
.chapter-selector {
	width: 40%;
	background-color: #eeeeee;
    margin-bottom: 20px;
}
.chapter-number {
	background-color: #CCCCCC;
	width: auto;
	height: 90px;
	padding: 20px;
	border-radius: 15px;
}
.chapter-text {
	white-space: pre;
}
.chapter-search {
	background-color: #CCCCCC;
	width: 50%;
	padding: 20px;
	margin: 20px;
}
